extends layout

block content
    .inner
        .subheader
            .subheader__section
                h2= category.name
        .actionbar
            .actionbar__action.actionbar__action--populate
                        form.populateTopics(method="GET" action=`/category/${category.slug}/populate`)
                            input(type="submit" value="Populate Topics" class="button")
        if category.topics
            .topics
                each topic in category.topics
                    .topic
                        .topic__body
                            a(href=`/topic/${topic.slug}`)= topic.name
                            p= category.wikiUrl
