extends layout
include mixins/_categoryForm

block content
    .inner
        .subheader
            .subheader__section
                h2 #{title}
            .subheader__section
                .button.subheader__section--mainAction
                    a(href=`/category/add`) Create
        .categories
            each category in categories
                .category
                    .category__body
                        a(href=`/category/${category.slug}`)= category.name
                        p= category.wikiUrl
