extends layout

block content
    .inner
        .subheader
            .subheader__section
                h2= category.name
        .actionbar
            .actionbar__action.actionbar__action--populate
                        form.populateTopics(method="GET" action=`/api/v1/category/${category._id}/populate`)
                            button.button(type="submit" name="Populate Topics") Populate Topics
        #topics
        