mixin categoryForm(category = {})
    form(action=`/category/add/${category._id || ''}` method="POST" class="card")
        label(for="name") Name
        input(type="text" name="name" value=category.name)
        label(for="wikiUrl") Wikipedia Url
        input(type="url" name="wikiUrl" value=category.wikiUrl)
        label(for="selector") JQuery Selector
        input(type="text" name="selector" placeholder=".wikitable td > b > a" value=category.selector)
        input(type="submit" value="Save" class="button")
