.actionbar {
    display: flex;
    margin-bottom: 2rem;
    &__action {       
        margin-right: 10px;
        .button {
            padding: 10px;
        }
    }
    button {
        padding: 10px;
    }
}