.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__section {
        display: flex;
        &--mainAction {
            height: auto;
            padding: 10px;
        }
    }

}