.topic {
    background: white;
    border-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0.5rem;
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    &:before {
        width:5px;
        left: 0;
        content: '';
        display: block;
        background: $verticalGrad;
        position: absolute;
        height: 100%;
        background-attachment: fixed;
    }
    &__content {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        width: 90%;
        input {
            border: none;

        }
        &--url {
            font-size: 1.2rem;
            color: #999;
            line-height: 1;
        }
    }
    &__action {
        div {
            padding: 10px;
        }
    }
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
